# List Comprehension exercises

In [ ]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

## Exercise 1 

Rewrite the above example code using list comprehension syntax. Make a variable `named uppercased_fruits` to hold the output of the list comprehension. 
- Desired output:
```python
>>> ['MANGO', 'KIWI', ...]
```

In [29]:
FRUITS=[fruit.upper() for fruit in fruits]
print(FRUITS)

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

## Exercise 2 

Create a variable named `capitalized_fruits` and use list comprehension syntax to produce 
- Desired output: 
```python
>>> ['Mango', 'Kiwi', 'Strawberry', ...]
```

In [28]:
Fruits=[fruit.capitalize() for fruit in fruits]
print(Fruits)

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

## Exercise 3

Make a list that contains each fruit with exactly 5 characters

In [27]:
fruits5=[fruit for fruit in fruits if len(fruit)==5]
print(fruits5)

['mango', 'guava']

## Exercise 4

Make a list containing the number of characters in each fruit. 
- Desired output
```python 
>>> [5, 4, 10, ... ]
```

In [25]:
char_fruit=[len(fruit) for fruit in fruits]
char_fruit

[5, 4, 10, 5, 9, 15]

## Exercise 5

Make a variable named `odd_negative_numbers` that contains only the numbers that are both odd and negative.
- Input:
```python
import numpy as np
np.random.seed(10)
>>> arr = np.random.randint(low=-100, high=100, size=(50,))
```
- Desired output:
```python
>>> odd_negative_numbers
>>> [-91, -85, -27, -67, -23, -87, -11, -35, -69, -43, -73, -7, -23]
```

In [24]:
numbers=range(-100,100,1)
odd_negative_numbers=[number for number in numbers if number%2!=0 and number<0]
print(odd_negative_numbers)

[-99, -97, -95, -93, -91, -89, -87, -85, -83, -81, -79, -77, -75, -73, -71, -69, -67, -65, -63, -61, -59, -57, -55, -53, -51, -49, -47, -45, -43, -41, -39, -37, -35, -33, -31, -29, -27, -25, -23, -21, -19, -17, -15, -13, -11, -9, -7, -5, -3, -1]

## Exercise 6

`if...else` With List Comprehension
- Input:
```python
>>> list1 = range(10)
```
- Desired output:
```python
>>> ['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']
```

In [23]:
list1 = range(10)
even_odd=["Even" if i%2==0 else "Odd" for i in list1]
print(even_odd)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

## Exercise 7

Compute the transpose of a Matrix using List Comprehension

- Input:
```python
>>> matrix = [[1, 2], [3,4], [5,6], [7,8]]
```
- Desired output:
```python
>>> [[1, 3, 5, 7], [2, 4, 6, 8]]
```

In [21]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]
matrix_transpose=[[row[i] for row in matrix] for i in range(2)]
matrix_transpose

[[1, 3, 5, 7], [2, 4, 6, 8]]